header {
  margin: 20px;
  text-align: center;
}

body {
  color: #444;
}

ul {
  margin-bottom: 0;
}

.btn-default {
  border: solid 1px #777;
}

.diary-container {
  text-align: center;
}
.diary-container .card-diary {
  text-align: left;
  width: 15rem;
  margin: 0 3px 15px;
  display: inline-block;
  cursor: pointer;
}
.diary-container .card-diary:hover {
  box-shadow: 5px 5px 7px -2px #c4c4c4;
  -webkit-box-shadow: 5px 5px 7px -2px #c4c4c4;
  transition: 0.5s;
}
.diary-container .card-diary:hover .diary-action-menu span {
  color: #999;
  transition: 0.3s;
}
.diary-container .card-diary .diary-image {
  height: 200px;
  overflow: hidden;
  background-color: #ddd;
}
.diary-container .card-diary .diary-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.diary-container .card-diary .diary-comment {
  height: 90px;
}
.diary-container .card-diary .diary-comment .diary-comment-wrapper {
  height: 75px;
  overflow: hidden;
}
.diary-container .card-diary .diary-comment .diary-comment-wrapper p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.diary-container .card-diary .card-footer {
  padding: 0;
  color: #999;
}
.diary-container .card-diary .card-footer .diary-created-at {
  display: inline-block;
  font-size: 14px;
}
.diary-container .card-diary .card-footer .diary-action-menu {
  text-align: right;
  color: #FFF;
}
.diary-container .card-diary .card-footer .diary-action-menu span {
  border-radius: 3px;
  padding: 5px;
}
.diary-container .card-diary .card-footer .diary-action-menu span:hover {
  background-color: #999;
  color: #eee;
}
.diary-container .card-add-diary {
  height: 349px;
  background: #777;
  cursor: pointer;
}
.diary-container .card-add-diary span {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 50px;
  font-size: 50px;
  color: #FFF;
}

.add-diary-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  bottom: 50px;
  background-color: #777;
  border-radius: 100px;
  padding: 20px;
  cursor: pointer;
}
.add-diary-button:hover {
  box-shadow: 5px 5px 7px -2px #777;
  -webkit-box-shadow: 5px 5px 7px -2px #777;
  transition: 0.5s;
}
.add-diary-button span {
  width: 35px;
  height: 35px;
  font-size: 35px;
  color: #FFF;
}

.pagination-container {
  margin: 100px auto;
  text-align: center;
}
.pagination-container .pagination {
  position: relative;
  display: inline-block;
}
.pagination-container .pagination a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-size: 1.2rem;
  padding: 8px 16px 10px;
}
.pagination-container .pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #777;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
}
.pagination-container .pagination a:hover, .pagination-container .pagination a .pagination-active {
  color: #fff;
}
.pagination-container .pagination a:hover:before, .pagination-container .pagination a .pagination-active:before {
  transform: scale(1);
}
.pagination-container .pagination .pagination-active {
  color: #fff;
}
.pagination-container .pagination .pagination-active:before {
  transform: scale(1);
}
.pagination-container .pagination-newer {
  margin-right: 50px;
}
.pagination-container .pagination-older {
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */